*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.noto-sans{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px px 5px #2773a5;
    z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.signup-header p{
    font-size: 0.8rem;
    color: #555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #2773a5;
}
.signup-footer p{
    color: #555;
    text-align: center;
}
.signup-footer p a{
    color: #2773a5;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(to right,#ffffffaa, #ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 150px;
    right: 50px;
}

